* {
  font-family: 'Roboto Mono';
}

a {
  text-decoration: none;
}

#work-button {
  color: white;
  font-size: 16px;
}

#play-button {
  color: white;
  font-size: 16px;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

body {
  width: 1060px;
  margin: 50px auto;
}
#dashboard {
  width: 1060px;
}
path {
  stroke: #fff;
}
path:hover {
  opacity: 0.9;
}
rect:hover {
  fill: blue;
}
.axis {
  font: 10px sans-serif;
}
.legend tr {
  border-bottom: 1px solid grey;
}
.legend tr:first-child {
  border-top: 1px solid grey;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
.legend {
  margin-bottom: 76px;
  display: inline-block;
  border-collapse: collapse;
  border-spacing: 0px;
}
.legend td {
  padding: 4px 5px;
  vertical-align: bottom;
}
.legendFreq,
.legendPerc {
  align: right;
  width: 50px;
}





.popup {
  width: 300px;
  height: 340px;
  margin: 0px;
  text-align: center;
}

.content {
  height: 120px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.header {
  text-shadow: 2px 0px 9px rgba(0, 0, 128, 0.384);
  margin: 0 !important;
}

.meta {
  text-shadow: 2px 0px 9px rgba(0, 0, 128, 0.384);
}

.ui.card {
  width: 320px !important;
}

.ui.slide.masked.reveal.image {
  height: 120px;
  margin: 0 0 20px 0;
}

.extra.content {
  height: 60px;
  position: absolute;
  z-index: 1;
  top: 280px;
}

.dropdown.is-hoverable.is-up {
  margin-bottom: 60px;
  align-items: center;
  padding: 0 5%;
}

.dropdown-trigger {
  padding-left: 10px;
}

.ui.linkedin.button {
  width: 320px;
  height: 60px;
  font-size: 20px;
}

.visible.content {
  padding-top: 35px;
  height: 100px;
}

.hidden.content {
  padding-top: 35px;
  height: 100px;
}

#current {
  font-family: 'Quantico', sans-serif;
  font-size: 60px;
  height: 40px;
}

#current-total {
  font-family: 'Quantico', sans-serif;
  font-size: 60px;
  height: 40px;
}

.status {
  font-family: 'Squada One', cursive;
  font-size: 25px;
}

#total {
  font-family: 'Roboto Mono';
  font-size: 24px;
}

.dropdown-item {
  width: 280px;
  text-align: left;
}

#list {
  font-size: 6px;
}

#hide-background {
  height: 36px;
  width: 100%;
  position: fixed;
}

.ui.buttons {
  height: 36px;
  width: 320px;
}
