/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site        : 'cyborg';
@reset       : 'cyborg';

/* Elements */
@button      : 'cyborg';
@container   : 'cyborg';
@divider     : 'cyborg';
@flag        : 'cyborg';
@header      : 'cyborg';
@icon        : 'cyborg';
@image       : 'cyborg';
@input       : 'cyborg';
@label       : 'cyborg';
@list        : 'cyborg';
@loader      : 'cyborg';
@placeholder : 'cyborg';
@rail        : 'cyborg';
@reveal      : 'cyborg';
@segment     : 'cyborg';
@step        : 'cyborg';

/* Collections */
@breadcrumb  : 'cyborg';
@form        : 'cyborg';
@grid        : 'cyborg';
@menu        : 'cyborg';
@message     : 'cyborg';
@table       : 'cyborg';

/* Modules */
@accordion   : 'cyborg';
@checkbox    : 'cyborg';
@dimmer      : 'cyborg';
@dropdown    : 'cyborg';
@embed       : 'cyborg';
@modal       : 'cyborg';
@nag         : 'cyborg';
@popup       : 'cyborg';
@progress    : 'cyborg';
@rating      : 'cyborg';
@search      : 'cyborg';
@shape       : 'cyborg';
@sidebar     : 'cyborg';
@sticky      : 'cyborg';
@tab         : 'cyborg';
@transition  : 'cyborg';

/* Views */
@ad          : 'cyborg';
@card        : 'cyborg';
@comment     : 'cyborg';
@feed        : 'cyborg';
@item        : 'cyborg';
@statistic   : 'cyborg';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder   : 'site/';


/*******************************
         Import Theme
*******************************/

@import (multiple) "theme.less";

/* End Config */
